<div class="text-light m-5">
    <h1>Mentions Légales</h1>
        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Musicart l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
    
        <h2>Édition du site</h2>
        <p>Le présent site, accessible à l’URL <a href="http://www.musicart.com">www.musicart.com</a> (le « Site »), est édité par :</p>
        <p><strong>Theo Musicart</strong>, résidant au 52 Rue Andre Bollier, 69007 Lyon, France, de nationalité Française, né(e) le 23/06/2000.</p>
    
        <h2>Hébergement</h2>
        <p>Le Site est hébergé par la société <strong>OVH SAS</strong>, située 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique : 1007).</p>
    
        <h2>Directeur de publication</h2>
        <p>Le Directeur de la publication du Site est <strong>Theo Musicart</strong>.</p>
    
        <h2>Nous contacter</h2>
        <ul>
            <li><strong>Par téléphone :</strong> +33 6 33 92 62 58</li>
            <li><strong>Par email :</strong> <a href="mailto:theomaurin875@gmail.com">theomaurin875&#64;gmail.com</a></li>
            <li><strong>Par courrier :</strong> 52 Rue Andre Bollier, 69007 Lyon, France</li>
        </ul>
    
        <h2>Données personnelles</h2>
        <p>Le traitement de vos données à caractère personnel est régi par notre <strong>Charte du respect de la vie privée</strong>, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
    
        <p><em>Génération des mentions légales par Legalstart.</em></p>
</div>
