p{
    font-size: 11px;
}
.nft{
    transition: transform .2s;
    background-color: #121619;
    border: rgb(71, 71, 71) 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-img-top{
    border-radius: 10px;
}

.nft:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #212527;
}
a{
    text-decoration: none;
}