p{
    font-size: 11px;
}
.nft{
    transition: transform .2s;
    background-color: #121619;
    border: rgb(71, 71, 71) 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-img-top{
    width: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.nft:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #212527;
}
.titre{
    padding-bottom: 100px;
    border-bottom: rgba(255, 255, 255, 0.322) solid 1px;
    background: linear-gradient( transparent,rgba(255, 255, 255, 0.102));
}