<div>
    <h1 class="text-center titre text-white">Liste des Collections</h1>
  </div>
<section class="container">
    <div class="d-flex gap-5 infos">
        <p>#</p>
        <p>Collection</p>
    </div>
    <div class="" *ngFor="let NFTCollection of NFTCollection">
        <a [routerLink]="['/collections', NFTCollection.id]">
            <div class="d-flex collection gap-5 align-items-center" >
                <p class="text-white fw-lighter m-0">{{NFTCollection.id}}</p>
                <div class="d-flex gap-2 align-items-center">
                    <p class="text-white m-0">{{NFTCollection.name}}</p>
                    <img src="../../../assets/completer.png" width="13px" height="13px" alt="">
                </div>
            </div>
        </a>
    </div>
</section>
