<section class="container">
    <div *ngIf="nft" class="d-lg-flex gap-4 text-white">
        <img [src]="nft.img" class="nft img-fluid col-12 col-lg-6" alt="">
        <div>
            <div class="d-flex gap-1 align-items-center mb-2">
                <a [routerLink]="['/collections', nft.nFTCollection.id]">
                  <p class=" m-0">{{nft.nFTCollection.name}}</p>
                </a>
                <img src="../../../assets/completer.png" width="15px" height="15px" alt="">
            </div>
            <h1 class="my-5">{{nft.name}}</h1>
            <div class="d-flex gap-2 mb-5">
                <img src="../../../assets/photo-de-profil.png" width="45px" height="45px" alt="">
                <div>
                    <p class="m-0 fw-lighter">Propriétaire</p>
                    <p class="text-success">{{nft.user.pseudo}}</p>
                </div>
            </div>
            <div class="infos p-5">
              <p class="fw-lighter">Ce NFT a été créer le <strong>{{ nft.launch_date| date:'dd MMMM yyyy'}}</strong></p>
              <div class="d-flex gap-2">
                <p class="m-0 fw-lighter">Son prix de lancement est de</p>
                <div class="d-flex align-items-center ml-2">
                    <img src="../../../assets/ethereum.png" width="10px" height="10px" alt="Ethereum Icon">
                    <p class=" m-0"><strong>{{nft.launch_price_eth}}</strong></p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div *ngIf="nft" class="accordion col col-lg-6 mt-4" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
              Description
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="fw-lighter">{{nft.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="nft" class="accordion col col-lg-6 mt-4" id="accordionDetails">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo">
              Details du token
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionDetails">
            <div class="accordion-body">
              <div class="d-flex justify-content-between">
                <p>Identifiant du token</p>
                <p class="fw-lighter">{{nft.id}}</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Blockchain</p>
                <p class="fw-lighter">Ethereum</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Token standars</p>
                <p class="fw-lighter">ERC721</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>