<div class="text-white d-flex justify-content-between test " style="background: url({{user.profil_picture}}) no-repeat center center / cover;" *ngIf="user">
    <div class="d-flex align-items-center gap-4">
        <img src="{{user.profil_picture}}" width="150px" alt="photo de profil">
        <h3 class="">{{user.pseudo}}</h3>
    </div>
    <div>
        <share-buttons 
            theme="modern-dark"
            [include]="['copy']"
            [showIcon]="true"
            [showText]="true"
            url="http://localhost:4200/users/{{user.id}}"
            description="Angular Share Buttons"
            twitterAccount="Theyozz">
        </share-buttons>
    </div>
</div>
<section class="container">
    
</section>
