<form [formGroup]="form" class="form-control w-100 mx-auto p-4" (ngSubmit)="submit()">
    <h1 class="mb-5">Rejoignez l'aventure</h1>
    <div class="d-flex mb-4">
        <div class="col">
            <div *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched" class="text-danger">
                Le prénom est requis.
            </div>
            <input type="text" class="form-control w-75 mb-2" formControlName="firstname" placeholder="Prénom" required>
            <div *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched" class="text-danger">
                Le nom est requis.
            </div>
            <input type="text" class="form-control w-75 mb-2" formControlName="lastname" placeholder="Nom" required>
            <div *ngIf="form.get('gender')?.invalid && form.get('gender')?.touched" class="text-danger">
                Le genre est requis.
            </div>
            <label for="gender">Gender:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="gender" id="genderMale" [value]="true" checked>
                <label class="form-check-label" for="genderMale">
                    Homme
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="gender" id="genderFemale" [value]="false">
                <label class="form-check-label" for="genderFemale">
                    Femme
                </label>
            </div>
            <div *ngIf="form.get('pseudo')?.invalid && form.get('pseudo')?.touched" class="text-danger">
                Le pseudo est requis.
            </div>
            <input type="text" class="form-control w-75 mb-2" formControlName="pseudo" placeholder="Pseudo" required>

            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
                Un email valide est requis.
            </div>
            <input type="email" class="form-control w-75 mb-2" formControlName="email" placeholder="Email" required>

            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
                Le mot de passe est requis.
            </div>
            <input type="password" class="form-control w-75 mb-2" formControlName="password" placeholder="Mot de passe" required>

            <div *ngIf="form.get('BirthDate')?.invalid && form.get('BirthDate')?.touched" class="text-danger">
                La date de naissance est requise.
            </div>
            <input type="date" class="form-control w-75 mb-2" formControlName="BirthDate" required>
        </div>
        <div class="col">
            <h5>Adresse</h5>
            <div formGroupName="Address">
                <div *ngIf="form.get('Address.city')?.invalid && form.get('Address.city')?.touched" class="text-danger">
                    La ville est requise.
                </div>
                <input type="text" class="form-control w-75 mb-2" formControlName="city" placeholder="Ville" required>

                <div *ngIf="form.get('Address.ZIPCode')?.invalid && form.get('Address.ZIPCode')?.touched" class="text-danger">
                    Le code postal est requis.
                </div>
                <input type="text" class="form-control w-75 mb-2" formControlName="ZIPCode" placeholder="Code postal" required>

                <div *ngIf="form.get('Address.street')?.invalid && form.get('Address.street')?.touched" class="text-danger">
                    La rue est requise.
                </div>
                <input type="text" class="form-control w-75 mb-2" formControlName="street" placeholder="Rue" required>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" mat-raised-button color="accent" >Valider</button>
    </div>
</form>
