<form [formGroup]="form" class="form-control" (submit)="submit()">
    <h1>Please register</h1>
    <input type="text" class="form-control w-25" formControlName="firstname" placeholder="Prénom">
    <input type="text" class="form-control w-25" formControlName="lastname" placeholder="Nom">
    <input type="text" class="form-control w-25" formControlName="pseudo" placeholder="pseudo">
    <input type="email" class="form-control w-25" formControlName="email" placeholder="email">
    <input type="password" class="form-control w-25" formControlName="password" placeholder="Mot de passe">
    <input type="date" name="" formControlName="BirthDate" id="">
    <h5>Adresse</h5>
    <div formGroupName="Address">
        <input type="text" class="form-control w-25" formControlName="city" placeholder="Ville">
        <input type="text" class="form-control w-25" formControlName="ZIPCode" placeholder="Code postal">
        <input type="text" class="form-control w-25" formControlName="street" placeholder="Rue">
    </div>
    <button type="submit" class="form-control w-25" class="btn btn-outline-primary">Valider</button>
</form>
